@model AdminProfileSettingViewModel
<!-- Settings Section Start -->
<div class="page-body">
    <div class="title-header">
        <h5>Profile Setting</h5>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-sm-12">
                        <!-- Details Start -->
                        <div class="card">
                            <div class="card-body">
                                <form method="post" id="profile-edit" class="theme-form theme-form-2 mega-form">
                                    <div class="row">
                                        <div class="mb-4 row align-items-center">
                                            <label class="form-label-title col-sm-2 mb-0">Fullname</label>
                                            <div class="col-sm-10">
                                                <input asp-for="Fullname" class="form-control"
                                                       placeholder="Enter Your Fullname">
                                                <span class="text-danger" asp-validation-for="Fullname"></span>
                                            </div>
                                        </div>
                                        <div class="mb-4 row align-items-center">
                                            <label class="form-label-title col-sm-2 mb-0">Username</label>
                                            <div class="col-sm-10">
                                                <input asp-for="UserName" class="form-control" 
                                                       placeholder="Enter Your Username">
                                                <span class="text-danger" asp-validation-for="UserName"></span>
                                            </div>
                                        </div>

                                        <div class="mb-4 row align-items-center">
                                            <label class="form-label-title col-sm-2 mb-0">
                                                Email
                                            </label>
                                            <div class="col-sm-10">
                                                <input asp-for="Email" class="form-control"
                                                       placeholder="Enter Your Email">
                                                <span class="text-danger" asp-validation-for="Email"></span>
                                            </div>
                                        </div>

                                        <div class="mb-4 row align-items-center">
                                            <label class="form-label-title col-sm-2 mb-0">
                                                Phone Number
                                            </label>
                                            <div class="col-sm-10">
                                                <input asp-for="Phone" class="form-control"
                                                       placeholder="Enter Your Phone number">
                                                <span class="text-danger" asp-validation-for="Phone"></span>
                                            </div>
                                        </div>
                                        <div asp-validation-summary="ModelOnly" class="mb-4 row align-items-center"></div>
                                    </div>
                                </form>
                                <button type="submit" form="profile-edit" class="align-items-center btn btn-theme">
                                    <i data-feather="edit-2"></i>Edit profile
                                </button>
                            </div>
                        </div>
                        <!-- Details End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Settings Section End -->
<!-- Page Body End-->
<!-- footer start-->
<div class="container-fluid">
    <footer class="footer">
        <div class="row">
            <div class="col-md-12 footer-copyright text-center">
                <p class="mb-0">Copyright 2021 © Voxo E-commerce website by Elfrustaichi.All rights reserved.</p>
            </div>
        </div>
    </footer>
</div>
<!-- footer End-->