@model ChangePasswordViewModel
<form id="changepassword-form" method="post" asp-action="changepassword" asp-controller="account">
    <div>
        <label asp-for="Password" class="form-label font-light">Password</label>
        <input asp-for="Password" class="form-control" >
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="ConfirmPassword" class="form-label font-light">Confirm Password</label>
        <input asp-for="ConfirmPassword" class="form-control" >
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger">

    </div>
</form>