

<body>
    <div class="container-fluid p-0">
        <div class="row m-0">
            <div class="col-12 p-0">
                <div class="login-section">
                    <div class="materialContainer">
                        <div class="box">
                            <div class="login-title">
                                <h2>ERROR HAS OCCURED!</h2>
                            </div>
                            <div class="button login">
                                <a asp-controller="dashboard" asp-action="index">
                                    <span>BACK TO DASHBOARD</span>
                                    <i class="fa fa-check"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


