@model SearchViewModel
    <!-- Breadcrumb section start -->
<section class="breadcrumb-section section-b-space">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Search</h3>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-action="index" asp-controller="home">
                                <i class="fas fa-home"></i>
                            </a>
                        </li>
                        
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb section end -->
<!-- Search bar section start -->
<section class="search-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title title1 text-center">
                    <h2>Search For Products</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-8 mx-auto">
                <div class="search-bar">
                    <form method="post">
                    <div class="input-group search-bar w-100">
                        <input asp-for="Search" class="form-control" placeholder="Search">
                        <button class="input-group-text" type="submit" id="basic-addon3">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Search bar section end -->
<!-- product section start -->
<section class="ratio_asos section-b-space">
    <div class="container" >
        
            @if (Model.IsFound==true)
            {
            <div class="product-wrapper product-style-2 slide-4 p-0 light-arrow bottom-space">
                @foreach (var prd in Model.Products)
                {
                    @Html.Partial("_SingleProductPartialView",prd)
                }
            </div>
             }
            else
            {
                <p style="text-align:center;font-size:100px;">Nothing Found!</p>
            }
            
        
    </div>
</section>
<!-- product section end -->
<!-- Subscribe Section Start -->
<section class="subscribe-section section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-6">
                <div class="subscribe-details">
                    <h2 class="mb-3">Subscribe Our News</h2>
                    <h6 class="font-light">
                        Subscribe and receive our newsletters to follow the news about our fresh
                        and fantastic Products.
                    </h6>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-md-0 mt-3">
                <div class="subsribe-input">
                    <div class="input-group">
                        <input type="text" class="form-control subscribe-input" placeholder="Your Email Address">
                        <button class="btn btn-solid-default" type="button">Button</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Subscribe Section End -->